<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/anomaly.js"></script>
</head>

<body onload="javascript:populate_species_list()">
  <br>
  <div class="container">
    <button class="btn btn-info"><a style="color:white" href="gui.html">< Back</a></button>
    <div class="jumbotron">
      <h2><b>Anomaly classification</b></h1>
      <h2>Manually classify anomalies</h2>
      <p>To classify an anomaly, browse for the image and select the appropriate plankton species</p>
    </div>
    <br>

    <label>Select the image</label>
    <input class="btn btn-success" type="file" id="input_image"
    onchange="document.getElementById('anomaly').src = window.URL.createObjectURL(this.files[0])">
    <img id="anomaly" alt="your image"/>
    <br>

    <select class="btn btn-success" id="plankton_species">
    </select>

    <input type="text" id="new_species_name">
    <button class="btn btn-success" onclick="add_species()">Add a new species!</button>
    <p id="output"></p>
    <button class="btn btn-success" onclick="classify_anomaly()">Classify</button>
  </div>
<body>
