<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/cloudant.js"></script>
</head>

<body  onload="javascript:populate_database_list()">
  <br>
  <div class="container">
    <button class="btn btn-info"><a style="color:white" href="gui.html">< Back</a></button>
    <div class="jumbotron">
      <h2><b>Download from Cloudant</b></h2>
      <p>To download all the files from a specific Cloudant database</p>
    </div>
    <br>

    <select class="btn btn-success" id="databases">
    </select>

    <button id="download" class="btn btn-success" onclick="download()">Download</button>

    <p id="output"></p>
    
  </div>
<body>
