<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 align="center">Microscope Net App</h1>
      <p>
        If you love plankton, this is the app for you! <br>
        Help us understanding the complex life inside a drop of water
      </p>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <img style="height:100px" src="images/plankton1.jpg"/>
        <br>
        <button class="btn btn-info"><a style="color:white" href="anomaly.html">Detect anomalies</a></button>
      </div>
      <div class="col-xs-4">
        <img style="height:100px" src="images/cloudant.png"/>
        <br>
        <button class="btn btn-success"><a style="color:white" href="cloudant.html">Download from Cloudant</a></button>
      </div>
      <!--
      <div class="col-xs-4">
        <img style="height:100px" src="images/Unknown-1.png"/>
        <br>
        <button class="btn btn-warning"><a style="color:white;" href="http://127.0.0.1:5000/detect">Object Detecion</a></button>
      </div>
      -->
    </div>
  </div>
<body>
